@page "/trips/details"
@using Microsoft.EntityFrameworkCore
@using TravelMaple.Domain
@inject IDbContextFactory<TravelMaple.Data.TravelMapleContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Trip</h2>
    <hr />
    @if (trip is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Duration</dt>
            <dd class="col-sm-10">@trip.Duration</dd>
            <dt class="col-sm-2">MakeId</dt>
            <dd class="col-sm-10">@trip.MakeId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@trip.StartDate</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@trip.EndDate</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@trip.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@trip.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/trips/edit?id={trip.Id}")">Edit</a> |
            <a href="@($"/trips")">Back to List</a>
        </div>
    }
</div>

@code {
    private Trip? trip;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        trip = await context.Trip.FirstOrDefaultAsync(m => m.Id == Id);

        if (trip is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}

           